@model PerrosWauWau.Models.ViewModels.DetallesViewModel;
@{
    Layout = "MainLayout";
}
<h2 id="nombre">@Model.Nombre</h2>

<section class="descripcion" id="descripcion">
@Model.Descripcion
</section>

<section class="galeria">
    <img id="fotoPerro" src="~/imgs_perros/@(Model.Id)_0.jpg" />
</section>

<section class="datos">
    <h3>Datos</h3>
    <label>Otros nombres: </label>
    <span id="otrosNombre">@Model.otrosNombres</span>
    <br />
    <label>País de Origen: </label>
    <span id="pais">@Model.paisDeOrigen</span>
    <br />
    <label>Peso: </label>
    <span id="peso">@Model.Peso</span>
    <br />
    <label>Altura: </label>
    <span id="altura">@Model.Altura</span>
    <br />
    <label>Esperanza de Vida: </label>
    <span id="vida">@Model.esperanzaDeVida años</span>
    <br />
    <label>Movimiento definitivo: </label>
    <span id="vida">@Model.MovimientoDefinitivo</span>
    <br />
</section>
<section class="estadisticas">
    <h3>Estadísticas</h3>
    <label>Nivel de Energía:</label><img src="~/imgs/nivel@(Model.nivelDeEnergia).png" /><br />
    <label>Facilidad de Entrenamiento:</label><img src="~/imgs/nivel@(Model.facilidadDeEntrenamiento).png" /><br />
    <label>Ejercicio Obligatorio:</label><img src="~/imgs/nivel@(Model.ejercicioObligatorio).png" /><br />
    <label>Amistad con Desconocidos:</label><img src="~/imgs/nivel@(Model.amistadConDesconocidos).png" /><br />
    <label>Amistad con Perros:</label><img src="~/imgs/nivel@(Model.amistadConPerros).png" /><br />
    <label>Necesidad de Cepillado:</label><img src="~/imgs/nivel@(Model.necesidadDeCepillado).png" /><br/>
    <label>Ataque:</label><img src="~/imgs/nivel@(Model.Ataque).png" /><br />
    <label>Defensa:</label><img src="~/imgs/nivel@(Model.Defensa).png" />
</section>
<section class="fisicas">
    <h3>Caracteristicas Físicas</h3>
    <label>Patas: </label>
    <span id="patas">@Model.Patas</span>
    <br />
    <label>Cola: </label>
    <span id="cola"> @Model.Cola</span>
    <br />
    <label>Hocico: </label>
    <span id="hocico"> @Model.Hocico</span>
    <br />
    <label>Pelo: </label>
    <span id="pelo">@Model.Pelo</span>
    <br />
    <label>Color: </label>
    <span id="color">@Model.Color</span>
</section>
<br class="clear" />

<a href="javascript:history.back();" class="button">Regresar</a>

<section class="otrosPerros">

    @{
        foreach (var item in Model.otrosPerros)
        {
            <a href="~/raza/@(item.Nombre.Replace(" ","-"))">
                <img src="~/imgs_perros/@(item.Id)_0.jpg" />
                <h2>@item.Nombre</h2>
            </a>
        }
    }
    
   
</section>